h1
{
    color: blue;
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(51, 50, 50);
    height: 30px;
    font-size: 30px;
    text-decoration:dotted;
    font-weight: 600;
    color: black;
    padding: 30px;
    
}
a
{
    color: white;
    text-decoration: none;
}